{% extends "base.html" %}

{% block start %}

  <!--<a href="/about/">About</a> |||| -->

  <nav class="navbar p-3 dark bg-info ">
    <div class="container-fluid">
      {% if request.user.is_authenticated %}
      <a class="navbar-brand">Welcome {{request.user.first_name}} {{request.user.last_name}} !</a>
      {% else  %}
      <a class="navbar-brand">Please 'Login' to access the website!</a>
      {% endif %}
      <form class="d-flex" role="search">
        {% if request.user.is_authenticated %}
        <a class="btn btn-outline-success bg-success text-white" href="/logout" type="submit">Logout</a>
        {% else %}
        <a class="btn btn-outline-success bg-success text-white" href="/login" type="submit">Login</a>
        {% endif %}
      </form>
    </div>
  </nav>
  
  
  <div class="container mt-5">
   
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data"> 

      {% csrf_token %}
   
      <h2>Add Receipe</h2>
      <hr>
   
      <div class="mb-3">
        <label for="exampleInputEmail1">Receipe Name</label>
        <input required type="text" class="form-control" name="receipe_name">
      </div>
      <br><br>
   
      <div class="mb-3">
        <label for="exampleInputPassword1">Receipe Description</label>
        <textarea required name="receipe_description" class="form-control"></textarea>
      </div>
      <br><br>
   
      <div class="mb-3">
        <label for="exampleInputPassword1">Receipe Image</label>
        <input name="receipe_image" type="file" class="form-control" >
      </div>
      <br><br>
   
      <button type="submit" class="btn btn-success">Add Receipe</button>
   
    </form>

    <hr>

    <div class="mt-5">
      <div class="mx-auto col-6">
        <form action="">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><h5>Find a receipe</h5></label>
          <input type="text" class="form-control" name="search" >
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      </div>
    </div>

    <hr>

    <!--  {{receipes}}  -->

    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Sr.No.</th>
          <th scope="col">Receipe Name</th>
          <th scope="col">Receipe Description</th>
          <th scope="col">Serving Preference</th>
          <th scope="col">Delete Receipe</th>
          <th scope="col">Update Receipe</th>
        </tr>
      </thead>
      <tbody>
        {% for receipe in receipes %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td style="font-size: larger;">{{receipe.receipe_name}}</td>
          <td style="font-size: large;">{{receipe.receipe_description}}</td>
          <td>
            <img src="{{ receipe.receipe_image.url}}" style="height: 150px; width: 180px; border-radius: 25px;" alt="{{receipe_name}}">
          </td>
          {% if user.is_superuser or user.is_staff %}
          <td style="padding-top: 30px;"><a href="/delete-receipe/{{receipe.id}}/" class="btn btn-danger">Delete</a></td>
          <td style="padding-top: 30px;"><a href="/update-receipe/{{receipe.id}}/" class="btn btn-success">Update</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>


{% endblock %}